<style>
    
    h1{
        color: purple;
        font-family:monospace;
        text-shadow: 1px 1px .0px black, 0 0 20px black, 0 0 5px;
        text-align: center;
    }
    
    h2{
        
        color: purple;
        text-align: center;
        
    }
    
    p{
        
        color: darkgray;
        text-align: center;
        font-family: serif;
        
    }
    
    dt{
        
        color: orange;
        text-align: left;
        
    }
    
    span {
        
        color: darkgray;
    }
    
    span {
        
        
    }
</style>
